.spaceCarousel {
    padding: 16px;
    overflow: hidden;
    background-color: white;
    /* 当触控事件发生在元素上时，不进行任何操作。 */
    touch-action: none;
}

.categoryWrapper {
    width: 50%;
    float: left;
    margin: 20px 0 20px 0;
}

.categoryImg {
    width: 60px;
    height: 60px;
    float: left;
}

.descDiv {
    height: 60px;
    float: left;
    margin-left: 10px;
    color: black;
}

.categoryNameDiv {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

.categoryDescDiv {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
}