.spaceCarousel {
    padding: 15px;
    overflow: hidden;
    background: white;
}

.categoryWrapper {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.categoryImg {
    width: 50px;
    height: 50px;
    float: left;
}

.descDiv {
    height: 50px;
    float: left;
    line-height: 50px;
    margin-left: 10px
}